*{
    margin: 0;
    padding: 0;
}

.header{
    display: flex;
    justify-content: space-between;
}
.main{
    height: 60px;
    width: 60px;

}



.container{
    height: 70vh;
    width: 80vh;
margin: auto;
margin-top: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}
.signin{
    height: 90%vh;
    width: 90%vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.text{
    margin-bottom: 10px;
    width: 95%;
    height: 40px;
    text-align: center;
    font-size: 15px;
    /* border: 2px solid black; */
    border-radius: 5px; ;
    cursor: pointer;
    
}
.password{
    width: 90%;
    height: 40px;
    text-align: center;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;

}   
border:hover{
    border: 2px solid brown;
}

.password:hover{
    background-color: darkgray;
}

input::placeholder{
    text-align: center;
    font-size: 15px;
    color: chocolate;
}
.button{
   width: 90%;
   height: 40px;
   margin-right: 8px;;
      margin-top: 10px;
   margin-left: 60px;
}
.btn{
    padding: 3px;
    padding-right:20px ;
    padding-left: 20px;
}
.log{
    padding: 3px;
    padding-right:20px ;
    padding-left: 20px;
}